a {
  font-size: 20px;
  border-left: 1px;
  border-right: 1px;

}
div.pic {
  margin: auto;
  text-align: center;
}

div.pic img, video, audio {
  margin: auto;
  text-align: center;
  border: 3px solid;
}

form {
  margin: auto;
  text-align: center;
}

div.forms {
  border: 2px solid;
  position: fixed;;
  bottom: 0;
  right: 0;
  left: 0;
}
